@model Users
@{
    ViewData["Title"] = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<h2 class="text-center">Đăng Nhập</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron" style="padding-left: 40%;background: #e2dfdf78">
                <form style="width: 220px;height: 200px;padding: 20px;" role="form" asp-action="Login" asp-controller="Home" method="post">
                    <div class="form-group">
                        <label for="Email">Nhập Email</label>
                        <input type="email" name="Email" asp-for="Email" autocomplete="off" class="form-control input-sm" placeholder="Email Address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password">Nhập Password</label>
                        <input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Đăng nhập" class="btn btn-info btn-block">
                </form>
            </div>
        </div>

    </div>*@

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="menu-account">
                    <h3 style="background-color: #ff9c00;color: #ffffff;font-size: 14px; font-weight: bold;
    padding: 15px 10px; text-transform: uppercase; margin: 0; border-left: 5px solid #3c3f44;">
                        <span>
                            Tài khoản
                        </span>
                    </h3>
                    <ul>
                        <li style="    color: #6c717a;
    font-weight: normal;
    border-bottom: 1px dotted #c3c3c3;
    display: block;
    position: relative;
    padding: 10px 15px;"><a  asp-controller="Home" asp-action="Login">Đăng nhập</a></li>
                        <li style="    color: #6c717a;
    font-weight: normal;
    border-bottom: 1px dotted #c3c3c3;
    display: block;
    position: relative;
    padding: 10px 15px;"><a  asp-controller="Home" asp-action="Registration">Đăng ký</a></li>
                        <li style="    color: #6c717a;
    font-weight: normal;
    border-bottom: 1px dotted #c3c3c3;
    display: block;
    position: relative;
    padding: 10px 15px;"><a href="dang-nhap.html">Quên mật khẩu</a></li>
                    </ul>
                </div>
            </div>
            <div style="width: 645px;" class="span9">

                <div class="breadcrumb clearfix">
                    
                </div>
 
                <div class="login-content clearfix" ng-controller="accountController" ng-init="initController()">
                    <h4 style="color:#ff9c00;" class="title"><span class="text">Đăng nhập hệ thống</span></h4>

                    <div class="col-md-6 col-md-offset-3">
                        <div class="jumbotron" style="padding-left: 40%;">
                            <form style="width: 220px;height: 200px;padding: 20px;" role="form" asp-action="Login" asp-controller="Home" method="post">
                                <div class="form-group">
                                    <label for="Email">Nhập Email</label>
                                    <input type="email" name="Email" asp-for="Email" autocomplete="off" class="form-control input-sm" placeholder="Email Address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Password">Nhập Password</label>
                                    <input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <input style="background: #ff9c00;" type="submit" value="Đăng nhập" class="btn btn-info btn-block">
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
    </div>